---
layout: class
title: Guardian
permalink: guardian.html
---

<h2>Guardian non-stance skills</h2>

<div class='skills'>
  {% for skill in site.data.guardian.non_stance_skills %}
    {% assign skill_data = site.data.guardian.skills | where: "slug", skill.slug | first %}
    {% include skill.html skill=skill_data %}
  {% endfor %}
</div>

<h2>Stances</h2>

<ul>
{% for stance in site.data.guardian.stances %}
  <li><a href="#{{stance.slug}}">{{stance.name}}</a></li>
{% endfor %}
</ul>

{% for stance in site.data.guardian.stances %}
  <div class='stance'>
    <div class='stance-name' id='{{ stance.slug }}'>
      <h3>{{ stance.name }}</h3>
    </div>

    {% assign skills = site.data.guardian[stance.slug] %}
    {% for skill in skills %}
      <div class='combo initial'>
        {% assign skill_data = site.data.guardian.skills | where: "slug", skill.slug | first %}
        {% include skill.html skill=skill_data starter=true %}
        {% include combo.html skill=skill class=site.data.guardian %}
      </div>
    {% endfor %}
  </div>
{% endfor %}
