---
layout: default
title: Bless Skill Tree
---

<h2>Classes</h2>

<ul>
  {% for class in site.data.classes %}
    <li>
      {% if class.page %}
        <a href='{{ class.page }}.html'>{{ class.name }}</a>
      {% else %}
        {{ class.name }}
      {% endif %}
    </li>
  {% endfor %}
</ul>

<h2>Skill icons and tooltips</h2>

<div class='skills'>
  {% for skill in site.data.paladin.non_stance_skills %}
    {% assign skill_data = site.data.paladin.skills | where: "slug", skill.slug | first %}
    {% include skill.html skill=skill_data %}
  {% endfor %}
</div>

<h2>Rotations</h2>

<div class='rotation'>
  {% assign rotation = site.data.paladin.rotations | where: "name", 'Example combo' | first %}
  {% for skill in rotation.skills %}
    {% assign skill_data = site.data.paladin.skills | where: "slug", skill | first %}
    {% include skill.html skill=skill_data %}
  {% endfor %}
</div>
