---
layout: default
title: Bless Skill Tree
---

<h2>Classes</h2>

<ul>
  {% for class in site.data.classes %}
    <li>
      {% if class.page %}
        <a href='{{ class.page }}.html'>{{ class.name }}</a>
      {% else %}
        {{ class.name }}
      {% endif %}
    </li>
  {% endfor %}
</ul>

<h2>Examples</h2>

<h3>Paladin non-stance skills</h3>

{% for skill in site.data.paladin.non_stance_skills %}
  {% assign skill_data = site.data.paladin.skills | where: "slug", skill.slug | first %}
  {% include skill.html skill=skill_data %}
{% endfor %}

<h3>Combo Tree</h3>

Coming soon...
