---
---

@import "{{ site.theme }}";

// Skill Tooltips

.skills {
  margin: 15px;
}

.skill {
  width: 120px;
  display: inline-block;
  margin: 5px;
  text-align: center;
  vertical-align: top;

  img {
    max-width: 36px;
    max-height: 36px;
    width: auto;
    height: auto;
    border: 1px solid #E6E6E6;
  }

  .skill-tooltip {
    display: none;
  }

  .skill-title {
    clear: both;
    text-align: center;
    max-width: 80px;
    margin: auto;
  }
}

.skill img:hover + .skill-tooltip {
  display: inline;
  position: absolute;
  float: left;
}

.rotation {
  display: inline-block;
  margin: 15px;

  .skill {
    width: auto;

    .skill-title {
      display: none;
    }
  }
}

.skill-tooltip {
  text-align: left;
  vertical-align: top;
  display: inline-block;
  font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFF;
  width: 235px;
  margin: 5px;
  padding: 10px;
  background: rgba(25,25,25,0.8);
  border: 1px solid #E6E6E6;

  img {
    float: left;
    display: block;
    max-width: 36px;
    max-height: 36px;
    width: auto;
    height: auto;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .skill-name {
    font-size: 16px;
  }

  .skill-detail {
    display: block;
    color: #E6DF0B;
    clear: both;
  }

  .skill-description {
    margin-top: 10px;
  }
}

.stance {
  margin: 15px;
  clear: both;
  margin-top: 15px;
  text-align: center;
  min-width: 350px;

  .combo.initial {
    text-align: center;
    display: block;
    vertical-align: top;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #222;

    .skill {
      width: 45px;
      height: 45px;

      .skill-title {
        display: none;
      }
    }

    .skill.starter {
      width: 80px;
      height: 80px;
      padding: 0;
      background-image: url('../../images/combo-starter.svg');
      background-repeat: no-repeat;
    }

    img.starter  {
      padding: 0px;
      margin-top: 22px;
      width: 42px;
      height: 42px;
    }

    // .skill:not(.starter) {
    //   width: 46px;
    //   height: 36px;
    //   padding: 0;
    //   background-image: url('../../images/skill-border.svg');
    //   background-repeat: no-repeat;
    // }
  }

  .combo {
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    min-width: 100px;

    .skill {
      vertical-align: top;
      text-align: center;
      display: block;
      margin: auto;
      padding: 5px;
    }
  }
}
